<div class="row">
  <h2><u>Hard & Soft skills</u></h2>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="30"
  [radius]="100"
  [showUnits]= "false"
  [title]="'HTML'"
  [titleColor]="'black'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6f859b'"
  [innerStrokeColor]="'#e3bab3'"
  [animation]= "true"
  [animationDuration]="800"
  [lazy]= "true"
  >
</circle-progress>
</div>

<div class=" text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="30"
  [radius]="100"
  [showUnits]="false"
  [title]="'CSS'"
  [titleColor]="'black'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6f859b'"
  [innerStrokeColor]="'#e3bab3'"
  [animation]="true"
  [lazy]="true"
  [animationDuration]="800"
  >
</circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="20"
  [radius]="100"
  [showUnits]="false"
  [title]="'JS'"
  [titleColor]="'black'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6f859b'"
  [innerStrokeColor]="'#e3bab3'"
  [animation]="true"
  [lazy]="true"
  [animationDuration]="800"
  >
</circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="40"
  [radius]="100"
  [showUnits]="false"
  [title]="'GITHUB'"
  [titleColor]="'black'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6f859b'"
  [innerStrokeColor]="'#e3bab3'"
  [animation]="true"
  [lazy]="true"
  [animationDuration]="800"
  >
</circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="80"
  [radius]="100"
  [showUnits]="false"
  [title]="'INGLES'"
  [titleColor]="'black'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6f859b'"
  [innerStrokeColor]="'#e3bab3'"
  [animation]="true"
  [lazy]="true"
  [animationDuration]="800"
  >
</circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="70"
  [radius]="100"
  [showUnits]="false"
  [title]="'ITALIANO'"
  [titleColor]="'black'"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#6f859b'"
  [innerStrokeColor]="'#e3bab3'"
  [animation]="true"
  [lazy]="true"
  [animationDuration]="800"
  >
</circle-progress>
</div>

</div>