<div class="row">
  <div class="col-lg-12">
    <div class="card mat-card" id="fifth-card" data-aos="flip-up" data-aos-duration="2000">
      
      <div class="col-sm-12 col-md-8 col-lg-8">
        <h2><u>Proyectos</u></h2>
        <h4>Proyecto Final Argentina Programa</h4>
        <p>
          Proyecto de presentación final para el curso de Full Stack Developer
          Jr. de la propuesta Argentina Programa. Este trabajo es mi primer
          acercamiento a la programación y consta de un curriculum digital
          aplicando, HTML,CSS,JS,Angular,Github,Springboot,MySQL,Netbeans,
          entre otros.
        </p>
      </div>

      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-10">
      <img src="./../../../assets/APLogo.png" id="logoP" class="img-fluid img-proyecto">
    </div>

      <div></div>
    </div>
  </div>
</div>