<div class="row">

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src={{persona.img}} class="img-fluid" id="fotoperfil" />

  </div>

  <div id="info-data">
    <div>
       <h1>{{persona.nombre}} {{persona.apellido}} </h1>
      <div id="info-company">Abogada,Full Stack Developer Jr.</div>
      <div id="info-contact">
        <span>Rosario, Santa Fe (Argentina)</span>

        <span
          ><a href="" id="infoc" target="_blank" rel="noopener noreferrer">
            <b>Información de contacto</b></a
          ></span>

      </div>

      <div class="col-lg-4">
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
          Editar persona
        </button>
        </div>

      <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
        <div
          class="card mat-card"
          id="first-card"
          data-aos="fade-up-right"
          data-aos-duration="2000"
        >
          <div class="card-titles">
            <div class="col-xs-11 col-sm-10 col-md-10 col-lg-10">
              <span>
                <h2><u>Acerca de mí</u></h2>
                <p>{{persona.descripcion}}</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
