.mat-card#third-card{
  padding: 1rem;
  margin: 2rem;
  margin-top: 5rem;
  background-color: #e3bab3;
  border-radius: 32px;
  box-shadow: 3px 3px 3px 3px ;

}


.row{
  padding: 30px;
  margin-right: 15px;
}

#edmondo{
  border-radius: 100%;
  margin: 10px;
}

#uca{
  border-radius: 100%;
  margin: 5px;
}



[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 15;
  transform: translateZ(0);
}


.button{
  padding: 5px;
}

td{
  width: 20%
}

table{
  width: 100%
}






